<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <div class="container">
        <h1>Reset Your Password</h1>
        <p>Hi {{username}},</p>
        <p>We received a request to reset your password. If you didn’t request this, you can safely ignore this email.</p>
        <p>Click the button below to reset your password:</p>
        <a href="{{host}}password/reset/{{token}}">Reset Password</a>
        <p>This link will expire in 24 hours.</p>
        <p>Thank you,<br>The Team</p>
    </div>
</body>
</html>¡